@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
    /* Grid */
    @apply grid grid-cols-8;

    @apply h-screen;
}

#navbar {
    @apply col-span-1;

    background-color: #dddddd;
}

#navbar-container {
    @apply flex flex-col justify-evenly items-center;

    background-color: #dddddd;

    margin: 40px 40px 40px 40px;

    @apply h-screen;
}

.navbar-btn {
    color: #888888;

    font-size: 80px;

    @apply text-center;

}

.navbar-btn:active {
    color: white;
    background-color: #2196F3;
    @apply bg-center;

    @apply relative;

    @apply rounded-full;

    width: 100px;
    height: 100px;

    font-size: 80px;

}