@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    #navbar {
        @apply col-span-1;
        
        /* Size */
        @apply h-screen w-40;

        /* Display */
        @apply flex flex-col justify-center;
    
        /* Background */
        @apply bg-lblue-900;
        @apply opacity-90;
    }

    #navbar-container {
        @apply flex flex-col justify-evenly items-center;

        margin: 40px 40px 40px 40px;

        @apply h-screen;
    }
}

/* Buttons */
@layer components {
    .navbar-btn {
        /* color: #888888; */

        font-size: 80px;

        @apply text-center;
    }

    .navbar-btn:active {
        color: white;
        background-color: #2196F3;
        @apply bg-center;

        @apply relative;

        @apply rounded-full;

        width: 100px;
        height: 100px;

        font-size: 80px;
    }
}
