@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    #content {
        @apply col-span-7;
        @apply grid grid-cols-7;
        background-color: #eeeeee;
        overflow: hidden;
    }

    #list {
        @apply col-span-3;
        font-family: "Montserrat", "sans-serif";
    }

    #details {
        @apply col-span-4;
        background-color: #000000;
        overflow-y: auto;
        font-family: "Roboto", "sans-serif";
    }
}
