@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    #content-container {
        /* Size */
        @apply h-screen;
        width: calc(100vw - 160px);
    
        /* Padding */
        padding: 1.5em 1.5em 1.5em 1.5em;
    
        /* Background */
        background-color: #F5F5F5;
    
        /* Display */
        @apply grid grid-rows-2;
    }    
}


