@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    #navbar {
        @apply col-span-1;
        
        /* Size */
        @apply h-screen;
        width: calc(100vw / 8);

        /* Display */
        @apply flex flex-col justify-center;
    
        /* Background */
        background-color: rgba(1, 88, 155, 0.9);
    }

    #navbar-container {
        /* Flex */
        @apply flex flex-col justify-evenly items-center;

        /* Margin */
        margin: 40px 40px 40px 40px;

        /* Height */
        @apply h-screen;
    }
}

/* Buttons */
@layer components {
    .navbar-btn {
        
    /* Icon color */
    color: white;

    /* Icon size */
    font-size: 80px;

    /* Icon alignment */
    @apply text-center; 

}

.navbar-btn:hover {
    /* Icon color */
    background-color: white;

    /* Background color */
    @apply text-lblue-900; 

    /* Background alignment */
    @apply bg-center;

    /* Background border radius */
    @apply rounded-full;

    /* Width */
    width: 120px;

    background-color: rgba(255,255,255, 1);
    }
}
