/* ROOT = where App.vue is located */

/* Fonts sourced from Google Fonts.
 * Each font's corresponding LICENSE and README (if available) is located at README/
 * relative to where the fonts are placed.
 */

@font-face {
    font-family: "Exo";
    font-style: italic;
    font-weight: 900;
    src: url(./assets/fonts/Exo-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 600;
    src: url(./assets/fonts/Exo.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url(./assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
}
