@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom components*/

.bg-lblue-700 {
    background-color: #0288d1;
}
.bg-lblue-900 {
    background-color: #01579b;
}
.text-lblue-900 {
    color: #01579b;
}
.form {
    /* Text */
    font-family: 'Montserrat', sans-serif;
    @apply font-semibold;

    /* Size */
    @apply w-full;
}

.form input {
    /* Text */
    text-indent: 10px;
    @apply text-black;

    /* Size */
    @apply h-14 w-full;

    /* Box-sizing */
    margin-bottom: 32px;
    @apply mt-1;

    /* Border */
    @apply rounded-md;

    /* Display */
    @apply block;
}

.btn {
    /* Size */
    width: calc(2.25 * 56px);
    height: 56px;

    /* Background */
    @apply bg-white;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    @apply text-black uppercase;

    /* Border */
    border-radius: 50px;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn:active {
    /* Shadow */
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

button, button:focus {
    /* Border */
    @apply border-none outline-none;
}

.redirect-button {
    /* Size */
    height: 50px;
    width: 50px;

    /* Border */
    @apply rounded-full;

    /* Text */
    @apply text-2xl;

    /* Background */
    @apply bg-white;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.redirect-button:active {
    /* Shadow */
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

#back-button {
    /* Box-sizing */
    margin-top: 12.5px;
}

#forward-button {
    /* Box-sizing */
    margin-top: 7px;
    margin-left: 21px;
}


/*Template style for Onboarding screen*/
#bg {
    @apply absolute;
    z-index: -1;
}
#bg-image {
    /* Background */
    background-image: url("assets/image.png");
    @apply bg-cover bg-center;

    /* Size */
    @apply h-screen w-screen;

    /* Position */
    @apply relative z-0;
}

#bg-overlay {
    /* Position */
    @apply absolute z-10 top-0 left-0;

    /* Background */
    @apply bg-lblue-700;
    mix-blend-mode: overlay;

    /* Size */
    @apply h-screen w-screen;
}
/* Customer UI */
#navbar {
    /* Position */
    @apply top-0 left-0;

    /* Size */
    @apply h-screen w-40;

    /* Display */
    @apply flex flex-col justify-center place-content-center;

    /* Background */
    @apply bg-lblue-900;

    /* Grid */
    @apply col-span-1;
}

#navbar-container {
    @apply flex;
}

#sidebar {
    /* Position */
    @apply absolute z-20 top-0 left-0;

    /* Size */
    @apply h-screen w-screen;

    /* Display */
    @apply flex flex-col justify-center;

    /* Background */
    background-color: rgba(2, 136, 209, 0.9);
}

#sidebar-content {
    /* Box-sizing */
    margin: auto 5vw;
}

.header {
    /* Text */
    font-family: 'Exo', sans-serif;
    font-size: 54px;
    @apply text-white font-semibold;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* Box-sizing */
    margin-bottom: 32px;
}

/* Template for Customer UI styles */
#customer-ui {
    @apply relative z-10; 

    /* Flex */
    @apply flex flex-row;

    @apply grid grid-cols-9;
}

#navbar-btn-container {
    /* Margin */
    margin-left: 2.75em;

    /* Font color */
    @apply text-white;

    /* Display */
    @apply flex flex-col;
}

#bg-content {
    @apply bg-white;
}

#content-container {
    /* Grid */
    @apply col-span-8;
    @apply grid grid-cols-8 gap-4;

    /* Padding */
    padding: 1.5em 1.5em 1.5em 0;
}

#profile {
    /* Grid */
    @apply col-span-4;
    
    /* Border */
    @apply shadow-2xl;

    /* Background */
    @apply bg-white;

}

#settings-btn {
    /* Position */
    @apply relative top-0 right-0;

    /* Margin */
    margin-top: 20px;

    /* Button size */
    width: 50px;
    height: 50px;

    /* Icon size */
    @apply text-2xl;
    
    /* Border radius */
    @apply rounded-full;

    /* Text */
    @apply text-black;

    /* Background */
    @apply bg-gray-200;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

#avatar {
    /* Image */
    background-image: url("assets/phake.jpg");

    /* Position */
    @apply bg-top;

    /* Radius */
    @apply rounded-full;
}

#realname {
    /* Font */
    font-family: 'Montserrat', sans-serif;
    @apply text-2xl;
}
#username {
    /* Flex */
    @apply flex justify-between;
}

#profile-content {
    /* Flex */
    @apply flex flex-col flex-wrap content-center;
}

.detail {
    /* Flex */
    @apply flex flex-row justify-between flex-grow;
}

#info {
    /* Flex */
    @apply flex flex-col;
}
#statistic {
    /* Grid */
    @apply col-span-4;

    /* Border */
    @apply shadow-2xl;

    /* Background */
    @apply bg-white;

    /* Flex */
    @apply flex justify-center;

    /* Scrolling */
    @apply overflow-scroll;
}

.ui-btn {
    /* Button size */
    height: 64px;
    width: 64px;

    /* Button spacing */
    margin-bottom: 55px;

    /* Icon size */
    @apply text-5xl;
}
#home-btn {
    /* Opacity */
    @apply text-lblue-900;

    /* Background */
    @apply bg-white;

    /* Border radius */
    @apply rounded-full;

    /* Button size */
    height: 64px;
    width: 64px;

    /* Icon size */
    @apply text-5xl;

    /* Margin */
    margin-bottom: 50px;
}
/* Exception: User button */

#account-btn {
    padding: 7.5px;

    /* Opacity */
    @apply text-lblue-900;

    /* Background */
    @apply bg-white;

    /* Border radius */
    @apply rounded-full;

    /* Button size */
    height: 64px;
    width: 64px;

    /* Icon size */
    @apply text-5xl;

    /* Margin */
    margin-bottom: 50px;
}

/*Specfic screen styles*/

#head {
    /* Display */
    @apply flex flex-row;

    /* Gap */
    column-gap: 32px;
}

#onboarding-header {
    /* Text */
    font-size: 72px;
    @apply italic font-black;

    /* Box-sizing */
    @apply m-0;
}

#description {
    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    @apply text-white break-words;

    /* Box-sizing */
    margin-bottom: 32px;
}

#body {
    /* Display */
    @apply flex flex-row;
}

#button-container {
    /* Display */
    @apply flex flex-row;

    /* Gap */
    row-gap: 16px;
    column-gap: 48px;
}

#btn-sign-in, #btn-submit-in, #btn-submit-up {
    /* Background */
    background-color: #29B6F6;

    /* Text */
    @apply text-white;
}

#btn-sign-up, #btn-help {
    /* Background */
    background-color: white;

    /* Text */
    color: #29B6F6;
}


/*Responsive design styles*/

@media screen and (max-width: 1280px) and (min-width: 960px)  {
    #sidebar {
        /* Size */
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    #sidebar {
        /* Size */
        width: 37.5%;
    }

    #sidebar-content {
        /* Box-sizing */
        margin: auto calc(10/3 * 1vw);
    }
}

@media screen and (max-width: 480px) and (min-width: 0px) {
    #body, #head, #button-container {
        /* Display */
        @apply flex-col;
    }
    
    #forward-button {
        /* Box-sizing */
        @apply m-0;
    }

    #back-button {
        /* Box-sizing */
        margin-bottom : 8px;
    }
}