@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom components*/

.bg-lblue-700 {
    background-color: #0288d1;
}

.form {
    /* Text */
    font-family: 'Montserrat', sans-serif;
    @apply font-semibold;

    /* Size */
    @apply w-full;
}

.form input {
    /* Text */
    text-indent: 10px;
    @apply text-black;

    /* Size */
    @apply h-14 w-full;

    /* Box-sizing */
    margin-bottom: 32px;
    @apply mt-1;

    /* Border */
    @apply rounded-md;

    /* Display */
    @apply block;
}

.btn {
    /* Size */
    width: calc(2.25 * 56px);
    height: 56px;

    /* Background */
    @apply bg-white;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    @apply text-black uppercase;

    /* Border */
    border-radius: 50px;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn:active {
    /* Shadow */
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

button, button:focus {
    /* Border */
    @apply border-none outline-none;
}

.redirect-button {
    /* Size */
    height: 50px;
    width: 50px;

    /* Border */
    @apply rounded-full;

    /* Text */
    @apply text-2xl;

    /* Background */
    @apply bg-white;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.redirect-button:active {
    /* Shadow */
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

#back-button {
    /* Box-sizing */
    margin-top: 12.5px;
}

#forward-button {
    /* Box-sizing */
    margin-top: 7px;
    margin-left: 21px;
}


/*Template style for Onboarding screen*/

#bg-image {
    /* Background */
    background-image: url("~@/assets/image.png");
    @apply bg-cover bg-center;

    /* Size */
    @apply h-screen w-screen;

    /* Position */
    @apply relative z-0;
}

#bg-overlay {
    /* Position */
    @apply absolute z-10 top-0 left-0;

    /* Background */
    @apply bg-lblue-700;
    mix-blend-mode: overlay;

    /* Size */
    @apply h-screen w-screen;
}

#sidebar {
    /* Position */
    @apply absolute z-20 top-0 left-0;

    /* Size */
    @apply h-screen w-screen;

    /* Display */
    @apply flex flex-col justify-center;

    /* Background */
    background-color: rgba(2, 136, 209, 0.9);
}

#sidebar-content {
    /* Box-sizing */
    margin: auto 5vw;
}

.header {
    /* Text */
    font-family: 'Exo', sans-serif;
    font-size: 54px;
    @apply text-white font-semibold;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* Box-sizing */
    margin-bottom: 32px;
}


/*Specfic screen styles*/

#head {
    /* Display */
    @apply flex flex-row;

    /* Gap */
    column-gap: 32px;
}

#onboarding-header {
    /* Text */
    font-size: 72px;
    @apply italic font-black;

    /* Box-sizing */
    @apply m-0;
}

#description {
    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    @apply text-white break-words;

    /* Box-sizing */
    margin-bottom: 32px;
}

#body {
    /* Display */
    @apply flex flex-row;
}

#button-container {
    /* Display */
    @apply flex flex-row;

    /* Gap */
    row-gap: 16px;
    column-gap: 48px;
}

#btn-sign-in, #btn-submit-in, #btn-submit-up {
    /* Background */
    background-color: #29B6F6;

    /* Text */
    @apply text-white;
}

#btn-sign-up, #btn-help {
    /* Background */
    background-color: white;

    /* Text */
    color: #29B6F6;
}


/*Responsive design styles*/

@media screen and (max-width: 1280px) and (min-width: 960px)  {
    #sidebar {
        /* Size */
        width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    #sidebar {
        /* Size */
        width: 37.5%;
    }

    #sidebar-content {
        /* Box-sizing */
        margin: auto calc(10/3 * 1vw);
    }
}

@media screen and (max-width: 480px) and (min-width: 0px) {
    #body, #head, #button-container {
        /* Display */
        @apply flex-col;
    }
    
    #forward-button {
        /* Box-sizing */
        @apply m-0;
    }

    #back-button {
        /* Box-sizing */
        margin-bottom : 8px;
    }
}